body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
#grid-container{
    margin:auto;
    border: thin solid black;
    display: grid;
    width:400px;
    height:400px;
}

.pixel{
    background-color: black;
    opacity: 0;
}

button {
    margin: 20px;
}